<head>

</head>

<body>
    <form action="/register" method="POST">
        <input type="submit" name="submit">
    </form>
    function onClick(id){
        document.getElementById('bttn').value=id;
      }
<!--an input and a button, consider using a form and an action-->
</body>