<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Week 7</title>
</head>
<body>
    
</body>
</html>

<body>
<!--an input and a button, consider using a form and an action-->
    <input type="email">
    <button type="submit">SUBMIT</button>
</body>