<head>

</head>

<body>
  <h1>Be a part of the team</h1>
  <p>Give us your email. No spam I promise.</p>
    <form action="/register" method="POST">
        <input type="text" name="email" placeholder="Enter your email">
        <button>Sign Up</button>
    </form>
</body>